#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  margin: 30px;
}

input {
  margin-left: 1em;
  width: 8em;
  height: 2em;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  outline: 0;
  border: none;
  font: 15px sans-serif;
  border-bottom: 1px solid white;
}

.header {
  margin-bottom: 50px;
}

.player {
  border: 2px solid white;
  border-radius: 5px;
  height: 14em;
  margin-bottom: 10px;
  padding: 25px;
}

.operations {
  font-size: 2.2em;
  display: flex;
  float: left;
  height: 1em;
  line-height: 1em;
}

.operationIcons:hover {
  cursor: pointer;
  stroke: currentColor;
  stroke-width: .3;
}

.editIcon:hover {
  cursor: pointer;
  stroke: currentColor;
  stroke-width: 8;
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3px;
  margin-left: 15px;
  max-height: 40px;
}

.playerName {
  width: 4.5em;
  margin-left: .4em;
  margin-top: 9px;
  background: transparent;
  font: 20px sans-serif;
  border-bottom: none;
}

.editPlayerName {
  border-bottom: 1px solid white;
}